KEYCLOAK_URL="http://keycloak-consumer.127.0.0.1.nip.io"
CREDENTIAL_CONFIGURATION_I="operator-credential"
OPENROUTESERVICE_API_KEY="Replace this string with your Openroute API key"
KEYCLOAK_CLIENT_ID="admin-cli"
KEYCLOAK_USER="user"
KEYCLOAK_PASSWORD="pass"