html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.column {
    height: 100vh;
}

.columns {
    margin: 0
}

.modal {
    z-index: 9999;
}

select,
option {
    text-transform: capitalize;
}

.loading-column {
    justify-content: center;
}

.is-vcentered-custom {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    height: auto;
    margin-bottom: 25px;
}