html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.column {
    height: 100vh;
}

.columns {
    margin: 0
}

.modal {
    z-index: 9999;
}

select,
option {
    text-transform: capitalize;
}

.loading-column {
    justify-content: center;
}

.is-vcentered-custom {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    height: auto;
    margin-bottom: 25px;
}

.help {
    font-weight: 500;
}

.notification {
    width: 22rem;
    right: 1%;
    margin: 1rem;
    position: absolute;
    z-index: 9999;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.show {
    opacity: 1;
    -webkit-animation: fadein 0.3s ease-in alternate;
    -moz-animation: fadein 0.3s ease-in alternate;
    animation: fadein 0.3s ease-in alternate;
}

.hide {
    opacity: 0;
    -webkit-animation: fadeout 0.3s ease-in alternate;
    -moz-animation: fadeout 0.3s ease-in alternate;
    animation: fadeout 0.3s ease-in alternate;
}